@import "./styles/globals.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-width: 100vw;
  height: 100%;
}

body {
  @apply bg-background text-foreground antialiased;
  -webkit-tap-highlight-color: transparent;
}

#root {
  height: 100%;
}

/* 看板列滚动条 */
.overflow-y-auto::-webkit-scrollbar {
  width: 6px;
}
.overflow-y-auto::-webkit-scrollbar-thumb {
  @apply rounded-full bg-slate-200;
}
.overflow-y-auto::-webkit-scrollbar-track {
  @apply bg-transparent;
}
